body {
  margin: 3em;
}

.button-block {
  display: block;
}

.button {
  background: white;
  border: 1px solid black;
  border-radius: 0.25em;
  color: black;
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
  padding: 0.5em;
  text-decoration: none;
}

.button.primary-btn {
  background: black;
  color: white;
}

.button:hover,
.button.primary-btn:hover {
  background: rgb(0, 102, 204);
  border-color: rgb(0, 102, 204);
  color: white;
}

.poem-text {
  font-size: 1.25em;
  margin: 2em 0;
}

.intro-page img {
  margin-top: 2em;
  max-width: 25em;
}

.intro-page .button-block {
  margin-top: 2em;
}

h2 {
  font-size: 125%;
}
